.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  min-height: 10vh;
  background: rgb(95, 141, 156);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.farmer-nav-links {
  padding: 10px;
  width: 40%;
  display: inline;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.product-list {
  text-align: left;
  padding-left: 200px;
  list-style-type: none;
}
